@charset "utf-8";

/* common.css */

*{margin: 0; padding: 0; box-sizing: border-box; color: #333;}
img{vertical-align: top;}
ul, li, ol{list-style: none;}
a{text-decoration: none;}
body{position: relative;}
main{min-height:75vh; width: 100%;} 
.fake{font-size: 0;}


@media (min-width:1250px){ 
    main{margin-top: 175px;}
    /* header */
    header{
        width: 100%;
        padding-top: 60px;
        position: fixed;
        top: 0; left: 0;
        background-color: #fff;
        z-index: 99999999999;    
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    }

    .menu_h{
        width: 1250px;    
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding-bottom: 40px;
    }
    .menu_h > a{
        display: inline-block;
        width: 250px;
        line-height: 1;
    }
    .menu_h > a img{
        width: 100%;
    }
    .menu_h > ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .menu_h > ul li{
        display: inline-block;
        margin-left: 15px;
    }
    .menu_h > ul .search input{
        width: 300px;
        height: 30px;
        background: url('../img/common/search.png') no-repeat 97% center;
        background-size: 6%;
        padding-left: 15px;
    }
    .menu_h > ul .login{
        width: 20px;
    }
    .menu_h > ul .login img{    
        width: 100%;
    }

    /* header navigation */

    .nav_h{                
        border-top: 1px solid #dedede;   
        border-bottom: 2px solid #fdd000;  
        position:relative;
    }
    .nav_h .menu_list{
        width: 1250px;
        margin: 0 auto;   
    }
    .nav_h .menu_list li{
        display: inline-block;
        width: 144px;
        margin-right: 16px;
        text-align: center;
        line-height: 2.5;
        position:relative;
    }
    .nav_h .menu_list li > a{
        font-size: 1em;  
    }
    .nav_h .menu_list li > p{
        line-height: 2.2;
        text-align: center;
        flex-direction: column;
        width: 100%;
        position:absolute;
        left:0; bottom:0;
        transform: translateY(100%);
        display:none;
    }
    .nav_h .menu_list li > p a{
        color: #fff;
        display:block;
    }
    .nav_h::after{    
        content:'';
        position:absolute;
        left:0; bottom:0px; 
        transform: translateY(100%);
        width:100%; height:150px;
        background:rgba(0,0,0,0.6);
        z-index:-1;
        display:none;    
    }

    .nav_h:hover .menu_list li > p{display:flex;}
    .nav_h:hover::after{display:block;}


    /* footer */
    footer{
        /* position: absolute; */
        bottom: 0;
        background-color: #454545;
        width: 100%;    
        padding-bottom: 60px;
    }
    .nav_f{    
        background-color: #fff;    
        border-bottom: 1px solid #dedede;
        border-top: 2px solid #fdd000;
        
    }
    .nav_f ul{
        width: 1250px;
        margin: 0 auto;  
        display: flex; 
        justify-content: space-between;        
    }
    .nav_f ul li{
        width: 144px;
        text-align: center;
        line-height: 2.5;
        display: flex;
        align-items: center;
        
    }
    .nav_f ul li select{
        width: 144px;
        height: 30px;
    }
    footer div{
        width: 1250px;
        margin: 0 auto;
    }
    footer div ul{
        display: flex;
        justify-content: space-between;
        padding: 55px 10%;    
    }
    footer div ul li{
        color: #dedede;
    }
    footer div p{
        color: #dedede;
        text-align: center;
    }
}

@media (min-width:768px) and (max-width:1249px){ 
    main{margin-top: 175px;} 
    /* header */
    header{
        width: 100%;
        padding-top: 60px;
        position: fixed;
        top: 0; left: 0;
        background-color: #fff;
        z-index: 99999999999;    
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    }
    .menu_h{
        width: 100%;   
        display: flex;
        justify-content: space-between;
        padding: 0 5%;
        padding-bottom: 40px;
    }
    .menu_h > a{
        display: inline-block;
        width: 250px;
        line-height: 1;
    }
    .menu_h > a img{
        width: 100%;
    }
    .menu_h > ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .menu_h > ul li{
        display: inline-block;
        margin-left: 15px;
    }
    .menu_h > ul .search input{
        width: 300px;
        height: 30px;
        background: url('../img/common/search.png') no-repeat 97% center;
        background-size: 6%;
        padding-left: 15px;
    }
    .menu_h > ul .login{
        width: 20px;
    }
    .menu_h > ul .login img{    
        width: 100%;
    }

    /* header navigation */
    .nav_h{                
        border-top: 1px solid #dedede;   
        border-bottom: 2px solid #fdd000;  
        position:relative;
    }
    .nav_h .menu_list{
        width: 100%;    
        display: flex;
        justify-content: space-between; 
        padding: 0 5%;
    }
    .nav_h .menu_list li{
        width: 25%;
        margin-right: 16px;
        text-align: center;
        line-height: 2.5;
        position:relative;
    }
    .nav_h .menu_list li > a{
        font-size: 1em;  
    }
    .nav_h .menu_list li > p{
        line-height: 2.2;
        text-align: center;
        flex-direction: column;
        width: 100%;
        position:absolute;
        left:0; bottom:0;
        transform: translateY(100%);
        display:none;
    }
    .nav_h .menu_list li > p a{
        color: #fff;
        display:block;
    }
    .nav_h::after{    
        content:'';
        position:absolute;
        left:0; bottom:0px; 
        transform: translateY(100%);
        width:100%; height:150px;
        background:rgba(0,0,0,0.6);
        z-index:-1;
        display:none;    
    }

    .nav_h:hover .menu_list li > p{display:flex;}
    .nav_h:hover::after{display:block;}


    /* footer */
    footer{
        /* position: absolute; */
        bottom: 0;
        background-color: #454545;
        width: 100%;    
        padding-bottom: 60px;
    }
    .nav_f{    
        background-color: #fff;    
        border-bottom: 1px solid #dedede;
        border-top: 2px solid #fdd000;
        
    }
    .nav_f ul{
        width: 100%;    
        display: flex;
        justify-content: space-between;
        padding: 0 5%;       
    }
    .nav_f ul li{
        text-align: center;
        line-height: 2.5;
        
    }
    .nav_f ul li select{
        width: 144px;
        height: 30px;
    }
    footer div{
        width: 100%;    
    }
    footer div ul{
        display: flex;
        justify-content: space-between;
        padding: 55px 5%;    
    }
    footer div ul li{
        color: #dedede;
        font-size: .8em;
    }
    footer div p{
        color: #dedede;
        text-align: center;
    }



}
@media (max-width:767px){
    main{margin-top: 220px;}
    /* header */
    header{
        width: 100%;
        padding-top: 40px;
        position: fixed;
        top: 0; left: 0;
        background-color: #fff;
        z-index: 99999999999;    
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    }
    .menu_h{
        width: 100%; 
        padding-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .menu_h > a{
        display: inline-block;
        width: 250px;
        line-height: 1;
        margin-bottom: 10px;
    }
    .menu_h > a img{
        width: 100%;
    }
    .menu_h > ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .menu_h > ul li{
        display: inline-block;
    }
    .menu_h > ul .search input{
        width: 270px;
        height: 30px;
        background: url('../img/common/search.png') no-repeat 97% center;
        background-size: 6%;
        padding-left: 15px;
    }
    .menu_h > ul .login{
        width: 20px;
        margin-left: 15px;
    }
    .menu_h > ul .login img{    
        width: 100%;
    }

    /* header navigation */
    .nav_h{                
        border-top: 1px solid #dedede;   
        border-bottom: 2px solid #fdd000;  
        position:relative;
    }
    .nav_h .menu_list{ 
        display: flex;
        justify-content: space-between; 
        flex-wrap: wrap;
    }
    .nav_h .menu_list li{
        width: 50%;
        text-align: center;
        line-height: 2.5;
        position:relative;
    }
    .nav_h .menu_list li > a{
        font-size: 1em;  
    }
    .nav_h .menu_list li > p{
        line-height: 2.2;
        text-align: center;
        flex-direction: column;
        width: 100%;
        position:absolute;
        left:0; bottom:0;
        transform: translateY(100%);
        display:none;
    }
    .nav_h .menu_list li > p a{
        color: #fff;
        display:block;
    }
    .nav_h::after{    
        content:'';
        position:absolute;
        left:0; bottom:0px; 
        transform: translateY(100%);
        width:100%; height:150px;
        background:rgba(0,0,0,0.6);
        z-index:-1;
        display:none;    
    }

    /* .nav_h:hover .menu_list li > p{display:flex;}
    .nav_h:hover::after{display:block;} */


    /* footer */
    footer{
        /* position: absolute; */
        bottom: 0;
        background-color: #454545;
        width: 100%;    
        padding-bottom: 60px;
    }
    .nav_f{    
        background-color: #fff;    
        border-bottom: 1px solid #dedede;
        border-top: 2px solid #fdd000;
        
    }
    .nav_f ul{
        width: 100%;
        display: flex; 
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0 3%;       
    }
    .nav_f ul li{
        width: 50%;
        text-align: center;
        line-height: 2.5;
        
    }
    .nav_f ul li select{
        width: 144px;
        height: 30px;
    }
    footer div{
        width: 100%;
        padding: 0 3%;
    }
    footer div ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 55px 10%;    
    }
    footer div ul li{
        color: #dedede;
        font-size: .75em;
        margin: 1% 3%;
    }
    footer div ul li:nth-of-type(2n){
        display: none;
    }
    footer div p{
        color: #dedede;
        text-align: center;
    }
}



/* title img */
.title_top{
    width: 100%;
    position: relative;    
    z-index: -2;
    border-bottom: 2px solid #fdd000;
}
.title_top::before{
    content: '';
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    left: 0; top: 0;  
    position: absolute;
    z-index: -1;
}
.title_top h2{
    color: #fff;
    font-size: 4em;
    font-weight: 900;
    text-align: center;
    padding: 80px 0;
    text-transform: uppercase;    
    letter-spacing: 7px;
    line-height: 1;
}

/* title_sub */
.title_wrap{
    display: flex;
    justify-content: center;
}
.title_wrap .title_sub{
    font-size: 3em;
    text-transform: uppercase;
    border-bottom: 3px solid #fdd000;    
    margin: 80px auto;
    text-align: center;
    display: inline-block;   
}

@media (max-width: 572px){
    .title_top h2{
        font-size: 2.5em;
        letter-spacing: 3px;
    }
    .title_wrap .title_sub{
        font-size: 2em;
    }
}