/* library.css */

.nav_h .menu_list li:nth-child(2) > a{
    background-color: #fdd000;
    width: 100%;
    height: 100%;
    display: inline-block;
}

.title_top{
    background: url('../img/library/title.jpg') no-repeat center center;
    background-size: cover;
}


/* lib_shop */
.lib_shop{
    position: relative;

}
.lib_shop .shop_wrap{
    width: 100%;    
    margin-bottom: 100px;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.lib_shop .shop_wrap figure{
    position: relative;   
    border-radius: 0 0 0 50px;
    overflow: hidden;
}
.lib_shop .shop_wrap figure img{
    width: 100%;
}
.lib_shop .shop_wrap figure figcaption{
    position: absolute;
    left: 0; top: 0;
    text-align: center;
    background-color: #fdd000;
    color: #333;
    font-size: 1.5em;
    line-height: 1;
    display: flex;    
    align-items: center;
    text-transform: uppercase;
    width: 80px;
    height: 80px;  
}
.lib_shop .shop_wrap .shop_txt{      
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.lib_shop .shop_wrap .shop_txt *{
    margin: 10px 0;
    line-height: 1;
}
.lib_shop .shop_wrap .shop_txt h3{
    font-size: 2.5em;
}
.lib_shop .shop_wrap .shop_txt h5{
    font-size: 1.2em;
    text-decoration: line-through;
}
.lib_shop .shop_wrap .shop_txt h4{
    font-size: 1.5em;
}
.lib_shop .shop_wrap .shop_txt h6{
    font-size: 1.2em;
    color: #777;
}
.lib_shop .shop_wrap .shop_bt{
    display: flex;
}
.lib_shop .shop_wrap .shop_bt a{
    text-align: center;
    font-size: 1.5em;
}
.lib_shop .shop_wrap .shop_bt a:nth-child(1){
    background-color: #333;
    color: #fff;
}
.lib_shop .shop_wrap .shop_bt a:nth-child(2){
    background-color: #fdd000;
    color: #333;
}
.shop_wrap .slick-dots{
    position:absolute;
    /* width: 100%; */
    z-index:3;
}
.shop_wrap .slick-dots li button{
    width: 10px;
    height: 10px;
    border: 0;
    border-radius: 5px;
    background-color: #454545;
    margin: 5px 0;
    font-size: 0;
}
.shop_wrap .slick-dots li.slick-active button{
    border: 0;
    border-radius: 5px;
    background-color: #454545;        
}


/* lib_list */

.lib_list{
    background-color: #dedede;      
    padding: 100px 0;  
    width: 100%;
}
.lib_list .lib_slid ul{
    width: 100%;
    position: relative;
}
.lib_list .lib_slid ul .list_items .list_img{
    border-radius: 0 0 0 50px;
    margin: 0 15px 50px; 

    overflow: hidden;
}
.lib_list .lib_slid ul .list_items .list_img img{
    width: 100%;    
    transition: 0.5s;
}
.lib_list .lib_slid ul .list_items h3{
    font-size: 2em;
    text-align: center;
    line-height: 1;
    font-weight: 400;
}
.lib_list .lib_slid ul .list_items .list_img:hover img{
    transform: scale(1.1) ;
}

.lib_list .slick-arrow{font-size: 0; border: 0; background: none;}
.lib_list .slick-prev::after{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: url('../img/next_l.png') no-repeat center center;
    width: 20px; height: 20px;
}
.lib_list .slick-next::after{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: url('../img/next_r.png') no-repeat center center;
    width: 20px; height: 20px;
}



/* lib_benefit */

.lib_benefit{
    /* padding: 150px 0; */
}
.lib_benefit li {    
    margin: 25px 0;    
    align-items: center;
}
.lib_benefit li > p{
    background-color: #fdd000;
    font-weight: 800;    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.lib_benefit li div{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;    
}
.lib_benefit li div b{
}
.lib_benefit li div p{
    color: #454545;
}
.lib_benefit li:nth-child(3) > p{
    background-color: #333;
    color: #fff;
}


/* lib_exp */

/* .lib_exp{
    margin-bottom: 150px;
} */


/* .exp_1 */

.lib_exp .exp_1{   
    text-align: center; 
    display: flex;
    align-items: center;
    flex-direction: column;
}
.lib_exp .exp_1> *{
    margin: 10px 0;
}
.lib_exp .exp_1 h3{
    font-size: 2em;
}
.lib_exp .exp_1 h4{
    font-size: 1.5em;
    font-weight: 400;
}
.lib_exp .exp_1 a{
    background-color: #f9e000;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid #3c1e1e; */
}
.lib_exp .exp_1 a span{
    display: inline-block;
    background: url('../img/library/icon_kakao.png') no-repeat center center;
    background-size: contain;

}
.lib_exp .exp_1 a h5{
    font-size: 1.5em;
    color: #3c1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-left: 1px solid #3c1e1e; */
}


/* exp_2 */

.lib_exp .exp_2{
    display: flex;
    flex-wrap: wrap;
}
.lib_exp .exp_2 a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}
.lib_exp .exp_2 a p{
    display: inline-block;
    margin-right: 10px;
}
.lib_exp .exp_2 a p img{
    width: 100%;
}
.lib_exp .exp_2 a h3{
    font-size: 1.5em;
}


/* exp_3 */

.lib_exp .exp_3{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.lib_exp .exp_3 h3{    
    font-size: 2em;
}
.lib_exp .exp_3 a{
    display: block;
}
.lib_exp .exp_3 a img{
    width: 100%;
}
.lib_exp .exp_3 h5{
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    color: #454545;
}
.lib_exp .exp_3 > *{
    margin: 10px 0;
}


/* lib_banner */

.lib_banner a{
    width: 100%;
    display: inline-block;    
    background: url('../img/library/banner_bg_01.png') no-repeat 100% center;
    background-size: cover;
}


@media (min-width: 1250px){
    
    /* lib_shop */
    .lib_shop{
        width: 1250px;
        margin: 0 auto; 
    }
    .lib_shop .shop_wrap li{
        display: flex;
    }
    .lib_shop .shop_wrap figure{
        width: 618px;        
        height: 650px;
        margin-right: 144px;
    }
    .lib_shop .shop_wrap .shop_txt{
        width: 618px;
        margin: 0 16px; 
    }
    .lib_shop .shop_wrap .shop_bt a{
        width: 230px;
        line-height: 3;
    }
    .shop_wrap .slick-dots{
        top: 50%; right: 0;
        transform: translateY(-50%);
    }
    .shop_wrap .slick-dots li.slick-active button{
        width: 10px;
        height: 100px;
    }

    
    /* lib_list */
    .lib_list .lib_slid{
        width: 1250px;    
        margin: 0 auto;
    }
    .lib_list .lib_slid ul .list_items .list_img{
        height: 350px;
    }
    .lib_list .slick-prev::after{
         left: -5%;
    }
    .lib_list .slick-next::after{
        right: -5%;
    }

    /* lib_benefit */
    .lib_benefit{
        width: 1250px;
        margin: 0 auto;
        padding: 150px 0;
    }
    .lib_benefit li{
        display: flex;
        justify-content: space-between;
    }
    .lib_benefit li > p{
        width: 250px;
        height: 250px;
        border-radius: 125px;
        font-size: 2em;
    }
    .lib_benefit li div{
        width: 934px;
    }
    .lib_benefit li div b{
        font-size: 2em;
        margin-bottom: 15px;
    }
    .lib_benefit li div p{
        font-size: 1.3em;
        line-height: 1.5;
    }
    
    /* lib_exp */
    .lib_exp{
        width: 1250px;
        margin: 0 auto;        
        display: flex;
        justify-content: space-between;
        align-items: center;
    }    
    .lib_exp .line{
        width: 2px; height: 200px;  
        background-color: #dedede;
    }
    
    /* .exp_1 */

    .lib_exp .exp_1{    
        width: 350px; 
    }
    .lib_exp .exp_1 a{
        width: 302px; height: 80px;
    }
    .lib_exp .exp_1 a span{
        margin-left: 10px;
        width: 80px;
        height: 80px;

    }
    .lib_exp .exp_1 a h5{
        width: 212px;
    }


    /* exp_2 */
    .lib_exp .exp_2{
        width: 506px;
        padding-left: 30px;        
        justify-content: space-between; 
    }
    .lib_exp .exp_2 a{
        width: 200px;
    }
    .lib_exp .exp_2 a p{
        width: 50px;
        height: 50px;
    }
    .lib_exp .exp_2 a h3{
        width: 140px;
    }


    /* exp_3 */
    .lib_exp .exp_3{
        width: 350px;
    }
    .lib_exp .exp_3 a{
        width: 100px;
    }
    .lib_exp .exp_3 h5{
        width: 300px;
    }


    /* lib_banner */
    .lib_banner{
        width: 1250px;
        margin: 100px auto;
        margin-bottom: 200px;
    }
    .lib_banner a{
        padding: 70px 20px;
    }
    .lib_banner a p{
        padding-left: 50px;
        font-size: 1.5em;
        line-height: 1.5;
    }
    .lib_banner a h2{
        padding-left: 50px;
        font-size: 2.5em;
        line-height: 1.5;
    }
}

@media (min-width: 768px) and (max-width: 1249px){
    /* lib_shop */
    .lib_shop{
        width: 100%;
        padding: 0 5%;
    }
    .lib_shop .shop_wrap li {
        display: flex;
        justify-content: space-between;
    }
    .lib_shop .shop_wrap figure{
        width: 48%;
        max-height: 400px;
    }
    .lib_shop .shop_wrap .shop_txt{
        width: 48%;
    }
    .lib_shop .shop_wrap .shop_bt a{
        width: 50%;
        line-height: 3;
    }
    .shop_wrap .slick-dots{
        bottom: -10%; left: 50%;        
        transform: translateX(-50%);
        display: flex;
    }
    .shop_wrap .slick-dots li{
        margin: 0 5px
    }
    .shop_wrap .slick-dots li.slick-active button{
        width: 100px;
        height: 10px;
    }


    /* lib_list */
    .lib_list .lib_slid{
        width: 90%;    
        margin: 0 auto;
    }
    .lib_list .lib_slid ul .list_items .list_img{
        height: 350px;
    }
    .lib_list .slick-prev::after{
        left: -3%;
   }
   .lib_list .slick-next::after{
       right: -3%;
   }

    /* lib_benefit */
    .lib_benefit{
        width: 100%;
        padding: 75px 5%;
    }
    .lib_benefit li{
        display: flex;
        justify-content: space-between;
    }
    .lib_benefit li > p{
        width: 200px;
        height: 200px;
        border-radius: 100px;
        font-size: 2em;
    }
    .lib_benefit li div{
        width: 70%;
    }
    .lib_benefit li div b{
        font-size: 1.5em;
        margin-bottom: 15px;
    }
    .lib_benefit li div p{
        font-size: 1em;
        line-height: 1.5;
    }
    
    /* lib_exp */
    .lib_exp{
        width: 100%;
        padding: 0 5%;  
        display: flex;
        flex-direction: column;
        align-items: center;
    }       
    .lib_exp .line{
        width: 30%; height: 2px;   
        background-color: #dedede;
        margin: 50px;
    }
    
    /* .exp_1 */

    .lib_exp .exp_1{    
        width: 100%; 
    }
    .lib_exp .exp_1 a{
        width: 302px; height: 80px;
    }
    .lib_exp .exp_1 a span{
        margin-left: 10px;
        width: 80px;
        height: 80px;

    }
    .lib_exp .exp_1 a h5{
        width: 212px;
    }


    /* exp_2 */
    .lib_exp .exp_2{
        /* width: 80%; */
        justify-content: center;
    }
    .lib_exp .exp_2 a{
        width: 50%;
        justify-content: space-around;
    }
    .lib_exp .exp_2 a p{
        width: 50px;
        height: 50px;
    }
    .lib_exp .exp_2 a h3{
        width: 50%;
        padding-left: 3%;
    }


    /* exp_3 */
    .lib_exp .exp_3{
        width: 100%;
    }
    .lib_exp .exp_3 a{
        width: 100px;
    }


    /* lib_banner */

    .lib_banner{
        width: 90%;
        margin: 100px auto;
    }
    .lib_banner a{
        padding: 60px;
    }
    .lib_banner a p{
        padding-left: 50px;
        font-size: 1.2em;
        line-height: 1.5;
    }
    .lib_banner a h2{
        padding-left: 50px;
        font-size: 2.2em;
        line-height: 1.5;
    }
}

@media (max-width: 767px){
    /* lib_shop */
    .lib_shop{
        width: 100%;
        padding: 0px 5%;
    }
    .lib_shop .shop_wrap{
        /* display: flex; */
    }
    .lib_shop .shop_wrap figure{
        width: 100%;
        height: 300px;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .lib_shop .shop_wrap .shop_txt{
        width: 100%;
        text-align: center;
    }
    .lib_shop .shop_wrap .shop_bt{
        justify-content: center;
    } 
    .shop_wrap .slick-dots{
        bottom: -5%; left: 50%;
        transform: translateX(-50%);
        display: flex;
    }
    .shop_wrap .slick-dots li{
        margin: 0 5px
    }
    .shop_wrap .slick-dots li.slick-active button{
        width: 100px;
        height: 10px;
    }

    
    /* lib_list */
    .lib_list .lib_slid{
        width: 75%;    
        margin: 0 auto;
    }
    .lib_list .lib_slid ul .list_items .list_img{
        height: 330px;
    }
    .lib_list .slick-prev::after{
        left: -7%;
   }
   .lib_list .slick-next::after{
       right: -7%;
   }
       
    /* lib_exp */
    .lib_exp{
        width: 100%;
        padding: 0 5%;  
        display: flex;
        flex-direction: column;
        align-items: center;
    }       
    .lib_exp .line{
        width: 30%; height: 2px;   
        background-color: #dedede;
        margin: 50px;
    }
    
    /* .exp_1 */

    .lib_exp .exp_1{    
        width: 100%; 
    }
    .lib_exp .exp_1 a{
        width: 302px; height: 80px;
    }
    .lib_exp .exp_1 a span{
        margin-left: 10px;
        width: 80px;
        height: 80px;

    }
    .lib_exp .exp_1 a h5{
        width: 212px;
    }

    /* exp_3 */
    .lib_exp .exp_3{
        width: 100%;
    }
    .lib_exp .exp_3 a{
        width: 100px;
    }


    /* lib_banner */

    .lib_banner{
        width: 90%;
        margin: 100px auto;
    }
    .lib_banner a{
        padding: 60px 0;
    }
    .lib_banner a p{
        padding-left: 30px;
        font-size: 1em;
        line-height: 1.5;
    }
    .lib_banner a h2{
        padding-left: 30px;
        font-size: 2em;
        line-height: 1.5;        
        width: 95%;
    }
}

@media (min-width: 573px) and (max-width:767px){
    
    .lib_shop .shop_wrap .shop_bt a{
        width: 50%;
        line-height: 3;
    } 

    /* lib_benefit */
    .lib_benefit{
        width: 100%;
        padding: 75px 5%;
    }
    .lib_benefit li{
        display: flex;
        justify-content: space-around;
    }
    .lib_benefit li > p{
        width: 180px;
        height: 180px;
        border-radius: 100px;
        font-size: 1.5em;
    }
    .lib_benefit li div{
        width: 65%;
    }
    .lib_benefit li div b{
        font-size: 1.5em;
        margin-bottom: 15px;
    }
    .lib_benefit li div p{
        font-size: 1em;
        line-height: 1.5;
    }

    /* exp_2 */
    .lib_exp .exp_2{
        width: 100%;
        justify-content: space-around;
    }
    .lib_exp .exp_2 a{
        width: 50%;
        justify-content: center;
    }
    .lib_exp .exp_2 a p{
        width: 50px;
        height: 50px;
    }
    .lib_exp .exp_2 a h3{
        padding-left: 3%;
    }

    /* lib_banner */
    .lib_banner a{           
        background:  url('../img/library/banner_bg_01.png') no-repeat 75% center;
        background-size: cover;
    }
}
@media (max-width: 572px){
    .lib_shop .shop_wrap .shop_txt h3{
        font-size: 2em;
    }
    .lib_shop .shop_wrap .shop_txt h5{
        font-size: 1em;
        text-decoration: line-through;
    }
    .lib_shop .shop_wrap .shop_txt h4{
        font-size: 1.2em;
    }
    .lib_shop .shop_wrap .shop_bt{
        display: block;
    }
    .lib_shop .shop_wrap .shop_bt a{
        display: inline-block;
        width: 100%;
        line-height: 3;
        margin: 0;
        line-height: 2.5;
        font-size: 1.3em;
    }    

    /* lib_benefit */
    .lib_benefit{
        width: 100%;
        padding: 0 5%;
    }
    .lib_benefit li{        
        display: flex;
        flex-direction: column;
        /* justify-content: space-around; */
    }
    .lib_benefit li > p{
        width: 180px;
        height: 180px;
        border-radius: 100px;
        font-size: 1.5em;
    }
    .lib_benefit li div{
        width: 90%;
        margin-top: 20px;
        margin-bottom: 50px;
        padding: 0;
    }
    .lib_benefit li div b{
        font-size: 1.5em;
        margin-bottom: 15px;
    }
    .lib_benefit li div p{
        font-size: 1em;
        line-height: 1.5;
    }

    /* exp_2 */
    .lib_exp .exp_2{
        width: 100%;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .lib_exp .exp_2 a{
        width: 80%;
        justify-content: center;
    }
    .lib_exp .exp_2 a p{
        width: 50px;
        height: 50px;
    }
    .lib_exp .exp_2 a h3{
        padding: 0 3%;
    }

    /* lib_banner */
    .lib_banner a{           
        background:  url('../img/library/banner_bg_01.png') no-repeat 75% center;
        background-size: cover;
    }
    .lib_banner a *{        
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;  
    }
}