/* login.css */

/* container */
main{
    position: relative;
    min-height: 85vh;
}
section{  
    position: absolute;
    margin: 0 auto;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;    
    overflow: hidden;
    border: 5px solid #fdd000;        
}
.container{    
    width: 100%; height: 100%;
    position: relative; 
}
.container .formIn, .formUp{
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    opacity: 0;    
    display: flex;
}
.container .formBox h2{
    font-size: 2.5em;
    text-transform: uppercase;
    text-align: center;    
    letter-spacing: -2px;  
}
.container .formBox ul{
    display: flex;
    flex-direction: column;
    align-items: center;    
    margin: 10px 0;
}
.container .formBox ul li{    
    width: 100%;
    margin: 10px 0;
}
.container .formBox ul li input{    
    width: 100%;
    font-size: 1.2em;
    padding: 0 30px;
    border: 1px solid #454545;
}
.container .formBox ul li .submit{
    background-color: #333;
    color: #fff;
}
.container .formBox ul .log_search{
    text-align: center;
    margin-top: 10px;
}
.container .formBox ul .log_icon{
    text-align: center;
    margin: 0;
}
.container .formBox ul .log_icon a{
    display: inline-block;
}
.container .formBox ul .log_icon .kakao{
    background: url('../img/login/icon_kakao.png') no-repeat center center;
    background-size: contain;
}
.container .formBox ul .log_icon .google{
    background: url('../img/login/icon_google.png') no-repeat center center;
    background-size: contain;
}
.container .formBox ul .log_icon .naver{
    background: url('../img/login/icon_naver.png') no-repeat center center;
    background-size: contain;
}
.container .clickBox{    
    /* position: absolute;  */
}
.container .clickBox h2{
    color: #fff;
    letter-spacing: -2px;
}
.container .clickBox button{
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
    border-radius: 50px;    
    display: inline-block;      
    letter-spacing: -2px;
}
.container .clickBox .clickRight, .clickLeft{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0; 
    height: 100%;  
    background-color: #fdd000;
}
.container .clickBox button:active {
    transform: scale(0.98);
  }
.container .clickBox .signIn{
    padding-right: 7%;
    background: url('../img/next_r.png') no-repeat 86% center;
    background-color: #fff;
}
.container .clickBox .signUp{
    padding-right: 7%;
    background: url('../img/next_r.png') no-repeat 86% center;
    background-color: #fff;
}

.clickRight.active{
    opacity: 1;
}
.formIn.active{
    opacity: 1;
}
.clickLeft.active{
    opacity: 1;
}
.formUp.active{
    opacity: 1;
}


@media (min-width: 1250px){
    section{
        width: 1250px;            
        height: 600px;
    }
    .container .formBox h2{   
        margin-bottom: 20px;
    }
    .container .formBox ul{ 
        width: 400px;
    }
    .container .formBox ul li input{    
        height: 50px;
    }
    .container .formBox ul .log_icon a{
        width: 60px; height: 60px;
        border-radius: 30px; 
        margin:0 20px;
    }
    .container .formBox ul .log_icon a{
        width: 60px; height: 60px;
        border-radius: 30px; 
        margin:0 20px;
    }
    .container .formIn, .formUp{
        height: 600px;        
        top: 0; left: 0;
        width: 50%;        
    }
    .container .clickBox{    
        height: 600px;        
        top: 0; right: 0;
        width: 100%;          
        display: flex;
        justify-content: center;
        align-items: center;    
    }
    .container .clickBox .clickRight, .clickLeft{
        width: 50%;
    }
    .container .clickBox h2{        
        margin-bottom: 15px;
        font-size: 3em;
    }
    .container .clickBox button{
        font-size: 2.5em;
        width: 280px;
        line-height: 1.9;
    }

}
@media (min-width: 768px) and (max-width: 1249px){
    section{
        width: 90%;            
        height: 500px;
    } 
    .container .formBox h2{   
        margin-bottom: 0px;
    }
    .container .formBox ul{ 
        width: 80%;
    }
    .container .formBox ul li input{    
        height: 50px;
    }
    .container .formBox ul .log_icon a{
        width: 50px; height: 50px;
        border-radius: 25px; 
        margin:0 10px;
    }
    .container .formIn, .formUp{
        height: 500px;
        top: 0; left: 0;
        width: 50%;
    }
    .container .clickBox{    
        height: 500px;
        top: 0; right: 0;
        width: 100%;  
        display: flex;
        justify-content: center;
        align-items: center;   
    }
    .container .clickBox .clickRight, .clickLeft{
        width: 50%;
    }
    .container .clickBox h2{     
        margin-bottom: 15px;
        font-size: 2.5em;
    }
    .container .clickBox button{
        font-size: 2.1em;
        width: 230px;
        line-height: 1.9;
    }
}
@media (max-width: 767px){
    section{
        width: 90%;            
        height: 600px;
    }          
    .container .formBox h2{   
        margin-bottom: 0px;
    }
    .container .formBox ul{ 
        width: 80%;
    }
    .container .formBox ul li input{    
        height: 45px;
    }
    .container .formBox ul .log_icon a{
        width: 50px; height: 50px;
        border-radius: 25px; 
        margin:0 10px;
    }
    .container .formIn, .formUp{
        height: 470px;        
        top: 0; left: 0;
        width: 100%;
    }
    .container .clickBox{         
        /* bottom: 0; left: 0; */
        width: 100%;  height: 100%;
        position: relative;
    }
    .container .clickBox .clickRight, .clickLeft{
        width: 100%;         
        height: 130px;  
        position: absolute;
        bottom: 0; left: 0;
    }
    .container .clickBox h2{     
        margin-bottom: 5px;
        font-size: 2em;
    }
    .container .clickBox button{
        font-size: 1.8em;
        width: 200px;
        line-height: 1.9;
    }
}
